

     #conju{  display: flex;       
        justify-content:space-betweent;
        padding: 30px}

        #conjunto2{ display: flex;       
            justify-content:space-betweent;
            justify-content:space-around;

        }
        .card-deck{ display: flex;       
            justify-content:space-betweent;
            padding: 30px }

            .cam{ display: flex;       
                justify-content:space-betweentnd;
               ;
                 }
     

